body {
    font-size: 1rem;
    font-weight: 300;
    color: #1f2330;
    background-color: #ffdd13; }

nav {
    font-size: 0.875rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; }

.nav-link {
    padding: 0.625rem 0.625rem;
    transition: all 250ms cubic-bezier(0.27, 0.01, 0.38, 1.06); }
.nav-link.disabled {
    color: #868e96; }

.nav-tabs {
    border-bottom: 1px solid #d1d4d8; }
.nav-tabs .nav-item {
    margin-bottom: -1px; }
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem; }
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: #e9ecef; }
.nav-tabs .nav-link.disabled {
    color: #868e96; }
.nav-tabs .nav-link.disabled:hover {
    cursor: not-allowed;
    border-color: transparent; }
.nav-tabs .nav-link:hover {
    border-color: #e7e9ea; }
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #495057;
    background-color: #fff;
    border-color: #ddd; }
.nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }

.nav-pills .nav-link {
    border-radius: 0.375rem; }

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #007bff; }

.nav-pills:hover {
    background-color: #fdfdfd; }

.nav-outlined-pills .nav-link {
    border-radius: 0.375rem;
    border: 1px solid transparent; }
.nav-outlined-pills .nav-link.active,
.show > .nav-outlined-pills .nav-link {
    background: none;
    color: #007bff;
    border-color: #007bff; }
.nav-outlined-pills .nav-link:hover {
    border-color: #e7e9ea; }

.nav-blue .nav-link.active {
    background-color: #007bff;
    border-color: #0074f0;
    color: #fff; }

.nav-blue .nav-link.disabled {
    color: #868e96; }
.nav-blue .nav-link.disabled:hover {
    cursor: not-allowed;
    border-color: transparent; }

.nav-blue .nav-link {
    color: #007bff; }

.nav-blue.nav-outlined-pills .nav-link.active {
    background: transparent;
    border-color: #3395ff;
    color: #007bff; }
.nav-blue.nav-outlined-pills .nav-link.active:hover {
    border-color: #3395ff; }

.nav-blue.nav-outlined-pills .nav-link {
    color: #007bff; }

.nav-indigo .nav-link.active {
    background-color: #674eec;
    border-color: #5b40eb;
    color: #fff; }

.nav-indigo .nav-link.disabled {
    color: #868e96; }
.nav-indigo .nav-link.disabled:hover {
    cursor: not-allowed;
    border-color: transparent; }

.nav-indigo .nav-link {
    color: #674eec; }

.nav-indigo.nav-outlined-pills .nav-link.active {
    background: transparent;
    border-color: #8f7cf1;
    color: #674eec; }
.nav-indigo.nav-outlined-pills .nav-link.active:hover {
    border-color: #8f7cf1; }

.nav-indigo.nav-outlined-pills .nav-link {
    color: #674eec; }

.nav-purple .nav-link.active {
    background-color: #8445f7;
    border-color: #7a36f6;
    color: #fff; }

.nav-purple .nav-link.disabled {
    color: #868e96; }
.nav-purple .nav-link.disabled:hover {
    cursor: not-allowed;
    border-color: transparent; }

.nav-purple .nav-link {
    color: #8445f7; }

.nav-purple.nav-outlined-pills .nav-link.active {
    background: transparent;
    border-color: #a476f9;
    color: #8445f7; }
.nav-purple.nav-outlined-pills .nav-link.active:hover {
    border-color: #a476f9; }

.nav-purple.nav-outlined-pills .nav-link {
    color: #8445f7; }

.nav-pink .nav-link.active {
    background-color: #ff4169;
    border-color: #ff325d;
    color: #fff; }

.nav-pink .nav-link.disabled {
    color: #868e96; }
.nav-pink .nav-link.disabled:hover {
    cursor: not-allowed;
    border-color: transparent; }

.nav-pink .nav-link {
    color: #ff4169; }

.nav-pink.nav-outlined-pills .nav-link.active {
    background: transparent;
    border-color: #ff7491;
    color: #ff4169; }
.nav-pink.nav-outlined-pills .nav-link.active:hover {
    border-color: #ff7491; }

.nav-pink.nav-outlined-pills .nav-link {
    color: #ff4169; }

.nav-red .nav-link.active {
    background-color: #c4183c;
    border-color: #b61638;
    color: #fff; }

.nav-red .nav-link.disabled {
    color: #868e96; }
.nav-red .nav-link.disabled:hover {
    cursor: not-allowed;
    border-color: transparent; }

.nav-red .nav-link {
    color: #c4183c; }

.nav-red.nav-outlined-pills .nav-link.active {
    background: transparent;
    border-color: #e52a51;
    color: #c4183c; }
.nav-red.nav-outlined-pills .nav-link.active:hover {
    border-color: #e52a51; }

.nav-red.nav-outlined-pills .nav-link {
    color: #c4183c; }

.nav-orange .nav-link.active {
    background-color: #fb7906;
    border-color: #ee7204;
    color: #fff; }

.nav-orange .nav-link.disabled {
    color: #868e96; }
.nav-orange .nav-link.disabled:hover {
    cursor: not-allowed;
    border-color: transparent; }

.nav-orange .nav-link {
    color: #fb7906; }

.nav-orange.nav-outlined-pills .nav-link.active {
    background: transparent;
    border-color: #fc9438;
    color: #fb7906; }
.nav-orange.nav-outlined-pills .nav-link.active:hover {
    border-color: #fc9438; }

.nav-orange.nav-outlined-pills .nav-link {
    color: #fb7906; }

.nav-yellow .nav-link.active {
    background-color: #ffb400;
    border-color: #f0a900;
    color: #212529; }

.nav-yellow .nav-link.disabled {
    color: #868e96; }
.nav-yellow .nav-link.disabled:hover {
    cursor: not-allowed;
    border-color: transparent; }

.nav-yellow .nav-link {
    color: #ffb400; }

.nav-yellow.nav-outlined-pills .nav-link.active {
    background: transparent;
    border-color: #ffc333;
    color: #ffb400; }
.nav-yellow.nav-outlined-pills .nav-link.active:hover {
    border-color: #ffc333; }

.nav-yellow.nav-outlined-pills .nav-link {
    color: #ffb400; }

.nav-green .nav-link.active {
    background-color: #17c671;
    border-color: #15b869;
    color: #fff; }

.nav-green .nav-link.disabled {
    color: #868e96; }
.nav-green .nav-link.disabled:hover {
    cursor: not-allowed;
    border-color: transparent; }

.nav-green .nav-link {
    color: #17c671; }

.nav-green.nav-outlined-pills .nav-link.active {
    background: transparent;
    border-color: #2ae68b;
    color: #17c671; }
.nav-green.nav-outlined-pills .nav-link.active:hover {
    border-color: #2ae68b; }

.nav-green.nav-outlined-pills .nav-link {
    color: #17c671; }

.nav-teal .nav-link.active {
    background-color: #1adba2;
    border-color: #18cd98;
    color: #212529; }

.nav-teal .nav-link.disabled {
    color: #868e96; }
.nav-teal .nav-link.disabled:hover {
    cursor: not-allowed;
    border-color: transparent; }

.nav-teal .nav-link {
    color: #1adba2; }

.nav-teal.nav-outlined-pills .nav-link.active {
    background: transparent;
    border-color: #40e8b7;
    color: #1adba2; }
.nav-teal.nav-outlined-pills .nav-link.active:hover {
    border-color: #40e8b7; }

.nav-teal.nav-outlined-pills .nav-link {
    color: #1adba2; }

.nav-cyan .nav-link.active {
    background-color: #00b8d8;
    border-color: #00abc9;
    color: #fff; }

.nav-cyan .nav-link.disabled {
    color: #868e96; }
.nav-cyan .nav-link.disabled:hover {
    cursor: not-allowed;
    border-color: transparent; }

.nav-cyan .nav-link {
    color: #00b8d8; }

.nav-cyan.nav-outlined-pills .nav-link.active {
    background: transparent;
    border-color: #0cdbff;
    color: #00b8d8; }
.nav-cyan.nav-outlined-pills .nav-link.active:hover {
    border-color: #0cdbff; }

.nav-cyan.nav-outlined-pills .nav-link {
    color: #00b8d8; }

.nav-white .nav-link.active {
    background-color: #fff;
    border-color: #f7f7f7;
    color: #212529; }

.nav-white .nav-link.disabled {
    color: #868e96; }
.nav-white .nav-link.disabled:hover {
    cursor: not-allowed;
    border-color: transparent; }

.nav-white .nav-link {
    color: #fff; }

.nav-white.nav-outlined-pills .nav-link.active {
    background: transparent;
    border-color: white;
    color: #fff; }
.nav-white.nav-outlined-pills .nav-link.active:hover {
    border-color: white; }

.nav-white.nav-outlined-pills .nav-link {
    color: #fff; }

.nav-gray .nav-link.active {
    background-color: #868e96;
    border-color: #7e868f;
    color: #fff; }

.nav-gray .nav-link.disabled {
    color: #868e96; }
.nav-gray .nav-link.disabled:hover {
    cursor: not-allowed;
    border-color: transparent; }

.nav-gray .nav-link {
    color: #868e96; }

.nav-gray.nav-outlined-pills .nav-link.active {
    background: transparent;
    border-color: #a1a8ae;
    color: #868e96; }
.nav-gray.nav-outlined-pills .nav-link.active:hover {
    border-color: #a1a8ae; }

.nav-gray.nav-outlined-pills .nav-link {
    color: #868e96; }

.nav-gray-dark .nav-link.active {
    background-color: #343a40;
    border-color: #2d3238;
    color: #fff; }

.nav-gray-dark .nav-link.disabled {
    color: #868e96; }
.nav-gray-dark .nav-link.disabled:hover {
    cursor: not-allowed;
    border-color: transparent; }

.nav-gray-dark .nav-link {
    color: #343a40; }

.nav-gray-dark.nav-outlined-pills .nav-link.active {
    background: transparent;
    border-color: #4b545c;
    color: #343a40; }
.nav-gray-dark.nav-outlined-pills .nav-link.active:hover {
    border-color: #4b545c; }

.nav-gray-dark.nav-outlined-pills .nav-link {
    color: #343a40; }

.navbar {
    padding: 0.75rem 1.5rem; }

.navbar-brand {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    margin-right: 1.5rem;
    font-size: 0.9rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 400; }

.navbar-text {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem; }

.navbar-toggler {
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    background: #fff;
    border: 1px solid transparent;
    border-radius: 0.25rem; }

@media (min-width: 576px) {
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: 0.625rem;
        padding-left: 0.625rem; } }

@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 0.625rem;
        padding-left: 0.625rem; } }

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.625rem;
        padding-left: 0.625rem; } }

@media (min-width: 1200px) {
    .navbar-expand-xl .navbar-nav .nav-link {
        padding-right: 0.625rem;
        padding-left: 0.625rem; } }

.navbar-expand .navbar-nav .nav-link {
    padding-right: 0.625rem;
    padding-left: 0.625rem; }

.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, 0.9); }
.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    color: rgba(0, 0, 0, 0.9); }

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.5); }
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: rgba(0, 0, 0, 0.7); }
.navbar-light .navbar-nav .nav-link.disabled {
    color: rgba(0, 0, 0, 0.3); }

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
    color: rgba(0, 0, 0, 0.9); }

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
    background: none; }

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }

.navbar-light .navbar-text {
    color: rgba(0, 0, 0, 0.5); }
.navbar-light .navbar-text a {
    color: rgba(0, 0, 0, 0.9); }
.navbar-light .navbar-text a:hover, .navbar-light .navbar-text a:focus {
    color: rgba(0, 0, 0, 0.9); }

.navbar-dark .navbar-brand {
    color: white; }
.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
    color: white; }

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5); }
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 0.75); }
.navbar-dark .navbar-nav .nav-link.disabled {
    color: rgba(255, 255, 255, 0.25); }

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
    color: white; }

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.1);
    background: none; }

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }

.navbar-dark .navbar-text {
    color: rgba(255, 255, 255, 0.5); }
.navbar-dark .navbar-text a {
    color: white; }
.navbar-dark .navbar-text a:hover, .navbar-dark .navbar-text a:focus {
    color: white; }
