body {
    /*background-color: #ffdd13 !important*/
    /*background: #e8dfe6;*/



    background: linear-gradient(to top left, powderblue, pink);
}

.bg-purple {
    background-color: #8445f7 !important
}

a.bg-purple:focus, a.bg-warning:hover, button.bg-warning:focus, button.bg-warning:hover {
    background-color: #8445f7 !important
}

.bg-custom-navbar {
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);



    /*background: linear-gradient(45deg, #e5ee05, #c9e800);*/
    /*background-color: #ffce1b !important*/

}
a.bg-custom-navbar:focus, a.bg-warning:hover, button.bg-warning:focus, button.bg-warning:hover {
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);
}

.bg-custom-footer {
    background: linear-gradient(-45deg, #EECFBA, #C5DDE8);
}
a.bg-custom-footer:focus, a.bg-warning:hover, button.bg-warning:focus, button.bg-warning:hover {
    background: linear-gradient(-45deg, #EECFBA, #C5DDE8);
}


.bg-custom-card {
    background: linear-gradient(to bottom,#f1f1f1, #f1f1f1);
}
a.bg-custom-card:focus, a.bg-warning:hover, button.bg-warning:focus, button.bg-warning:hover {
    background: linear-gradient(to bottom,  #e6e9ee, #e8e3d7, #e8dfe6);
}

.bg-custom-card-single {
    /*background: linear-gradient(to bottom, #e6e9ee, #e8e3d7, #e8dfe6);*/
    background: linear-gradient(to bottom right, #efffff, #fff3f8);
}
a.bg-custom-card-single:focus, a.bg-warning:hover, button.bg-warning:focus, button.bg-warning:hover {
    background: linear-gradient(to bottom, #e6e9ee, #e8e3d7, #e8dfe6);
}


.bg-yellow {
    background-color: #ffdd13 !important
}

a.bg-yellow:focus, a.bg-warning:hover, button.bg-warning:focus, button.bg-warning:hover {
    background-color: #ffdd13 !important
}


.card {
    min-height: 10rem;
    background-color: #fff;
    border: none;
    border-radius: 0.25rem;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1), 0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1), 0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12), 0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1); }
.card > .list-group:first-child .list-group-item:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem; }
.card > .list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem; }
.card .list-group-item {
    padding: 0.8125rem 1.875rem; }
.card .card-text {
    margin-bottom: 1.5625rem; }
.card a:hover {
    text-decoration: none; }
.card-small {
    box-shadow: 0 2px 0 rgba(90, 97, 105, 0.11), 0 4px 8px rgba(90, 97, 105, 0.12), 0 10px 10px rgba(90, 97, 105, 0.06), 0 7px 70px rgba(90, 97, 105, 0.1); }
.card-small .card-header,
.card-small .card-body,
.card-small .card-footer {
    padding: 1rem 1rem; }

.card-body {
    padding: 1.875rem; }
.card-body > p:last-child {
    margin-bottom: 0; }

.card-title {
    font-weight: 500;
    margin-bottom: 0.75rem; }

.card-subtitle {
    margin-top: -1.09375rem; }

.card-link {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; }
.card-link + .card-link {
    margin-left: 1.875rem; }

.card-header {
    padding: 1.09375rem 1.875rem;
    background-color: #fff;
    border-bottom: none; }
.card-header:first-child {
    border-radius: 0.25rem 0.25rem 0 0; }


.card-footer {
    padding: 1.09375rem 1.875rem;
    background-color: #fff;
    border-top: none; }
.card-footer:last-child {
    border-radius: 0 0 0.25rem 0.25rem; }

.card-header-tabs {
    margin-bottom: -1rem;
    border-bottom: 0; }
.card-header-tabs .nav-link,
.card-header-tabs .nav-link:hover {
    border-bottom: transparent; }

.card-header-pills {
    margin-right: -0.9375rem;
    margin-left: -0.9375rem; }
.card-header-pills:hover {
    background: transparent; }

.card-img-overlay {
    padding: 1.875rem 2.1875rem;
    background: rgba(90, 97, 105, 0.5);
    border-radius: 0.25rem; }
.card-img-overlay .card-title {
    color: #fff; }

.card-img {
    border-radius: 0.25rem; }

.card-img-top {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem; }

.card-img-bottom {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem; }

.card-deck .card {
    margin-bottom: 0.9375rem; }

@media (min-width: 576px) {
    .card-deck {
        margin-right: -0.9375rem;
        margin-left: -0.9375rem; }
    .card-deck .card {
        margin-right: 0.9375rem;
        margin-left: 0.9375rem; } }

.card-group > .card {
    box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1), 0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1), 0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12), 0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1); }
.card-group > .card:last-child .card-body,
.card-group > .card:last-child .card-footer {
    border-right: none; }

.card-group .card-body,
.card-group .card-footer {
    border-right: 1px solid #e7e9ea; }

@media (min-width: 576px) {
    .card-group {
        box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1), 0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1), 0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12), 0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
        border-radius: 0.25rem; }
    .card-group > .card {
        box-shadow: none; }
    .card-group > .card:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0; }
    .card-group > .card:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0; }
    .card-group > .card:only-child {
        border-radius: 0.25rem; }
    .card-group > .card:only-child .card-img-top,
    .card-group > .card:only-child .card-header {
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem; }
    .card-group > .card:only-child .card-img-bottom,
    .card-group > .card:only-child .card-footer {
        border-bottom-right-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem; }
    .card-group > .card:not(:first-child):not(:last-child):not(:only-child) {
        border-radius: 0; }
    .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-img-top,
    .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-img-bottom,
    .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-header,
    .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-footer {
        border-radius: 0; } }

.card-columns .card {
    margin-bottom: 2.1875rem; }

@media (min-width: 576px) {
    .card-columns {
        column-count: 3;
        column-gap: 1.25rem; } }


.card-post__image {
    position: relative;
    min-height: 6rem;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }


.card-post--aside {
    display: flex;
    flex-flow: row; }
.card-post--aside .card-post__image {
    border-top-right-radius: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    min-width: 100px; }
